#main {
    margin: 20px 20px 0px 95px;
    display: grid;
}
@media (max-width: 870px) {
    main {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 600px) and (max-width: 871px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 871px) and (max-width: 1125px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1126px) and (max-width: 1440px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }
}

.container-video {
    padding: 5px;
    background-color: rgb(250, 250, 250);
}
.container-video > img {
    width: 100%;
}

.container-video > .video-bottom {
    display: flex;
}

.container-video > .video-bottom > .img {
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: start;
}

.container-video > .video-bottom > .img > img {
    margin-top: 5px;
    width: 35px;

    border-radius: 50%;
}

.container-video > .video-bottom > .text {
    width: 75%;
}

.container-video > .video-bottom > .text > h1 {
    margin: 5px 0px 7px 5px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    
    /* Faz com que não permita que ultrapasse duas linhas */
    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 2; /* versão webkit */
    line-clamp: 2;         /* versão padrão (a nova) */

    overflow: hidden;
}

.container-video > .video-bottom > .text > p {
    margin-left: 5px;
    line-height: 20px;
    font-size: 0.8em;

    color: rgb(105, 101, 101);

    /* Faz com que não permita que ultrapasse duas linhas */
    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 1; /* versão webkit */
    line-clamp: 2;         /* versão padrão (a nova) */

    overflow: hidden;
}