#nav {
    width: 75px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    background-color: white;
    border-right: 1px solid rgb(236, 236, 236);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav > div {
    padding: 15px 0px;
    width: 100%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#nav > div:hover {
    background-color: rgb(236, 233, 233);
}

#nav > div > img {
    width: 30px;
}
#nav > div > p {
    font-size: 0.7em;
    text-align: center;
}